<form [formGroup]="form" class="container">
  <h2>Login</h2>
  <mat-form-field appearance="standard">
    <mat-label>Enter your email</mat-label>
    <input formControlName="email" matInput required type="email">
    <mat-error *ngIf="email.errors?.required">Email is missing</mat-error>
    <mat-error *ngIf="email.errors?.email">Not an email</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Enter your password</mat-label>
    <input formControlName="password" matInput required type="password">
    <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
  </mat-form-field>
  <br>
  <button (click)="login()" [disabled]="isLoading || form.invalid"
          color="primary"
          mat-raised-button>{{isLoading ? 'Loading...' : 'Login!'}}</button>
  <p *ngIf="loginFailed" class="failure">Login failed</p>
</form>
