<h2>Register</h2>

<form (ngSubmit)="register(form)" #form="ngForm">
  <mat-form-field appearance="standard">
    <mat-label>Enter your first name</mat-label>
    <input matInput name="firstName" type="text" ngModel required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Enter your last name</mat-label>
    <input matInput name="lastName" type="text" ngModel required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Enter your email</mat-label>
    <input matInput name="email" type="email" ngModel required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Enter your password</mat-label>
    <input matInput name="password" type="password" ngModel required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Enter your bank account number</mat-label>
    <input matInput name="bankAccountNumber" type="text" ngModel required>
  </mat-form-field>
  <br>
  <button mat-button color="primary" type="submit" [disabled]="isLoading || form.invalid">{{isLoading ? 'Loading...' : 'Register!'}}</button>
  <p *ngIf="isRegisterSuccessful">Registration complete!</p>
</form>
