<h2>Employee List</h2>
<table [dataSource]="employees" class="mat-elevation-z4" mat-table>

  <ng-container matColumnDef="pid">
    <th *matHeaderCellDef mat-header-cell> PID</th>
    <td *matCellDef="let employee" mat-cell> {{employee.pid}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell> Email</th>
    <td *matCellDef="let employee" mat-cell> {{employee.email}} </td>
  </ng-container>

  <ng-container matColumnDef="terminate">
    <th *matHeaderCellDef mat-header-cell> Terminate</th>
    <td *matCellDef="let employee" mat-cell>
      <button (click)="terminateEmployee(employee.id)" *ngIf="employee.status === 'ACTIVE'" mat-button>Terminate
      </button>
      <span *ngIf="employee.status === 'TERMINATED'">Terminated</span>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
