mat-card {
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 0;
  text-align: center;
}

mat-card-title {
  padding-bottom: 30px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  margin-top: 3em;
}

.spacer {
  height: 40px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

table, th, td {
  border: 1px solid black;
  width: 200px;
  margin: 0 auto;
}
