<form [formGroup]="form" class="container">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput required type="email">
  </mat-form-field>
  <mat-error *ngIf="email.errors?.required">Email is missing</mat-error>
  <mat-error *ngIf="email.errors?.email">Not an email</mat-error>
  <br>
  <button (click)="submit()" [disabled]="form.invalid"
          color="primary"
          mat-raised-button>Add New Employee
  </button>
  <p *ngIf="success" class="success">Success!</p>
  <p class="failure">{{error}}</p>
</form>
