<form class="container" [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>
  <mat-error *ngIf="email.errors?.required">Email is missing</mat-error>
  <mat-error *ngIf="email.errors?.email">Not an email</mat-error>
  <br>
  <button mat-raised-button color="primary"
          [disabled]="form.invalid"
          (click)="submit()">Add New Employee</button>
  <p class="success" *ngIf="success">Success!</p>
  <p class="failure">{{error}}</p>
</form>
