<h2>Loan Applications</h2>
<div class="mat-elevation-z2">
  <table [dataSource]="appliedLoans" mat-table>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell> Amount</th>
      <td *matCellDef="let loan" mat-cell> {{loan.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> Status</th>
      <td *matCellDef="let loan" mat-cell> {{loan.status}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell> Date and Time applied</th>
      <td *matCellDef="let loan" mat-cell> {{loan.datetimeApplied | date:'yyyy-MM-dd hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell> Action</th>
      <td *matCellDef="let loan" mat-cell>
        <button (click)="takeLoan(loan)" *ngIf="loan.status === 'APPROVED'" mat-button>Accept</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
