.first-row {
  height: 78px;
}

.second-row {
  height: 50px;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.untouchable {
  user-select: none;
}
