<app-pending-loan *ngIf="showDetails" [loan]="selectedLoan"></app-pending-loan>
<button (click)="hideLoanDetails()" *ngIf="showDetails" color="primary" mat-button>Hide</button>

<div class="mat-elevation-z4">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input (keyup)="applyFilter($event)" matInput placeholder="Ex. ium">
  </mat-form-field>

  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Amount</th>
      <td *matCellDef="let loan" mat-cell> {{loan.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let loan" mat-cell> {{loan.customer.firstName}} {{loan.customer.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell> Date and Time applied</th>
      <td *matCellDef="let loan" mat-cell> {{loan.datetimeApplied | date:'yyyy-MM-dd hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Details</th>
      <td *matCellDef="let loan" mat-cell>
        <button (click)="showLoanDetails(loan)" mat-button>Show Details</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
</div>
