<nav>
  <button mat-button *ngIf="!authService.isAuthenticated()" routerLink="/">Home</button>
  <button mat-button *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</button>
  <button mat-button *ngIf="!authService.isAuthenticated()" routerLink="/register">Register</button>

  <button mat-button *ngIf="authService.isUser()" routerLink="/user">Your Loans</button>
  <button mat-button *ngIf="authService.isUser()" routerLink="/user/apply">Apply for Loan</button>
  <button mat-button *ngIf="authService.isEmployee()" routerLink="/employee">Loan Applications</button>
  <button mat-button *ngIf="authService.isAdmin()" routerLink="/admin">Employee Manager</button>
</nav>
