<h2>Active Loans</h2>
<div class="mat-elevation-z2">
  <table mat-table [dataSource]="loans">

    <ng-container matColumnDef="amountRepay">
      <th mat-header-cell *matHeaderCellDef> Amount to Repay Left </th>
      <td mat-cell *matCellDef="let loan"> {{loan.amountToRepay}} </td>
    </ng-container>

    <ng-container matColumnDef="amountPayed">
      <th mat-header-cell *matHeaderCellDef> Amount Payed </th>
      <td mat-cell *matCellDef="let loan"> {{loan.amountPayed}} </td>
    </ng-container>

    <ng-container matColumnDef="repay">
      <th mat-header-cell *matHeaderCellDef> Repay </th>
      <td mat-cell *matCellDef="let loan"> <button mat-button (click)="openRepayWindowForLoan(loan)">Repay</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="displayPaymentWindow" class="payment-window mat-elevation-z24">
  <h2 mat-dialog-title>Repay Loan</h2>
  <mat-dialog-content>
    <p>Amount to Repay Left: {{selectedLoan.amountToRepay}}</p>
    <p>Amount Payed: {{selectedLoan.amountPayed}}</p>
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Repay amount</mat-label>
        <input matInput type="number" name="amount" [(ngModel)]="amount">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" (click)="repayLoan(selectedLoan.id, amount)"><mat-icon>payment</mat-icon> Repay</button>
    <button mat-button color="primary" (click)="closeRepayWindowForLoan()"><mat-icon>cancel</mat-icon> Close</button>
  </mat-dialog-actions>
  <p *ngIf="paymentSuccess">Payment done!</p>
</div>
