table {
  width: 100%;
}

.payment-window {
  background-color: lightskyblue;
  position: absolute;
  left: 25%;
  top: 1%;
  z-index: 1;
  width: 250px;
  height: 240px;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}
