<div class="mat-elevation-z2">
  <table [dataSource]="loans" mat-table>
    <ng-container matColumnDef="amountRepay">
      <th *matHeaderCellDef mat-header-cell> Amount to Repay Left</th>
      <td *matCellDef="let loan" mat-cell> {{loan.amountToRepay}} </td>
    </ng-container>

    <ng-container matColumnDef="amountPayed">
      <th *matHeaderCellDef mat-header-cell> Amount Payed</th>
      <td *matCellDef="let loan" mat-cell> {{loan.amountPayed}} </td>
    </ng-container>

    <ng-container matColumnDef="repay">
      <th *matHeaderCellDef mat-header-cell> Repay</th>
      <td *matCellDef="let loan" mat-cell>
        <button (click)="openRepayLoanDialog(loan)" mat-button>Repay</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>


