table, th, td {
  border: 1px solid black;
}

.payment-window {
  background-color: #e0dede;
  position: absolute;
  left: 250px;
  top: 150px;
  z-index: 1;
  width: 600px;
  height: 300px;
  border: 1px solid black;
}
